@use '../../../scss/index'as index;

.ama-input-container {
    background-color: index.$neutral-white;

    label {
        @include index.text-medium-normal;
        color: index.$neutral-black;
    }


    .input-text {
        height: 56px;
        border: 1px solid index.$neutral-black;

        @include index.text-medium-normal;
        color: index.$neutral-black;

        &::placeholder {
            color: index.$neutral-dark-grey;
        }

        &:focus {
            border-width: 2px;
            outline: none;
            border-radius: 0;

        }
    }

}

.ama-input-container-disabled {
    background-color: index.$neutral-light;



    label {
        @include index.text-medium-normal;
        color: index.$neutral-dark-grey;
    }


    .input-text-disabled {
        height: 56px;
        border: 1px solid index.$neutral-light-grey;

        @include index.text-medium-normal;
        color: index.$neutral-dark-grey;

        &::placeholder {
            color: index.$neutral-dark-grey;
        }
        
        &:hover{
            cursor: not-allowed;
        }
    }


}