@use '../../../scss/index' as index;

.combo {
  position: relative;
  cursor: default;

  &.disabled {
    pointer-events: none;
    color: index.$neutral-dark-grey;
    .combo-input {
      border: 1px solid index.$neutral-light-grey;

      svg {
        fill: index.$neutral-dark-grey;
      }
    }
  }

  .combo-input {
    border: 1px solid index.$neutral-black;

    &:focus {
      border: 1px solid index.$neutral-dark;
    }

    .tags {
      .tag {
        border-radius: 6px;
        color: index.$neutral-white;
        word-break: break-word;
      }
    }
  }

  &.open {
    .combo-input {
      &:focus {
        border: 1px solid index.$neutral-black;
      }
    }
  }

  .combo-menu {
    @include index.shadow;
    @include index.scrollbars;
    overflow-y: auto;
    overflow-x: hidden;

    position: absolute;
    left: 0;
    top: 100%;

    max-height: 272px;

    z-index: index.$zindex-dropdown;

    .combo-option {
      display: flex;
      align-items: center;
      min-height: 40px;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0px;
      }

      &.hover {
        background-color: index.$neutral-light;
      }
    }
  }
}
