@use '../../../scss/index.scss' as index;

.ama {
  &-loader {
    width: 64px;
    height: 64px;

    border: 4px solid index.$brand-green-main;
    border-right-color: transparent;

    border-radius: 50%;
    animation: lds-dual-ring 0.75s linear infinite;

    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
