@use '../../../scss/index'as index;

.ama-input-radio-container {
  height: 44px;

  .input-radio {
    width: 28px;
    height: 28px;

    accent-color: index.$brand-green-main;

    &:focus {
      accent-color: index.$brand-green-fourth;
    }


  }

  .input-radio:disabled+.input-label {
    accent-color: index.$neutral-light-grey;
    color: index.$neutral-light-grey;
  }

  .input-label {
    @include index.text-big-normal;
    color: index.$neutral-black;
  }
}