@use '../../../scss/index.scss' as index;

.datalist-container {
  background-color: index.$neutral-light;

  h2 {
    @include index.h4-bold;
  }
}

.items-content {
  &:last-child {
    margin-bottom: 0 !important;
  }

  dt {
    @include index.text-big-normal;
    color: index.$neutral-black;
  }

  dd {
    @include index.text-medium-normal;
    color: index.$neutral-dark;
  }
}
