@use '../../../scss/index'as index;


.datalist-container {
    max-width: 696px;
    min-height: 456px;

    padding: 32px 40px;




    background-color: index.$neutral-light;


    h5 {
        width: 100%;
        @include index.h5-bold;
        text-align: start;
    }

}

.items-container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    
    width: 100%;
}

.items-content {
    width: calc(50% - 16px);

    margin-bottom: 24px;
    margin-right: 16px;

    dt {
        @include index.text-big-normal;
        color: index.$neutral-black;
    }

    dd {
        @include index.text-medium-normal;
        color: index.$neutral-dark;

        margin: 0;
    }

    &.mobile{
        width: 100%;
    }

}