@use '../../../scss/index' as index;

.ama {
  &-alert {
    margin: 1rem;

    .header {
      vertical-align: center;
    }

    .btn-close {
      position: absolute;
      top: 1rem;
      right: 0.5rem;
    }

    .icon {
      &.warning {
        fill: index.$semantic-alerts;
      }

      &.info {
        fill: index.$semantic-info;
      }

      &.success {
        fill: index.$brand-green-main;
      }
    }

    .body-content {
      background-color: index.$neutral-light;
      margin: 1rem 0 0 0;
      padding: 0 1rem 0 1rem;
    }

    > * a {
      color: index.$brand-green-main;
    }

    .bar {
      .row {
        align-items: center;
        text-align: center;

        .link {
          color: index.$neutral-white;
        }
      }

      &.warning {
        background-color: index.$semantic-alerts;
        color: index.$neutral-white;
      }

      &.info {
        background-color: index.$semantic-info;
        color: index.$neutral-black;

        .link {
          color: index.$neutral-black;
        }
      }

      &.success {
        background-color: index.$brand-green-main;
        color: index.$neutral-white;
      }

      &.none {
        background-color: index.$neutral-dark-grey;
        color: index.$neutral-white;
      }

      margin: 1rem 0 0 0;
    }

    &.ama-alert-primary {
      &:before {
        background-color: blue;
      }
    }

    &.ama-alert-secondary {
      &:before {
        background-color: lightblue;
      }
    }

    &.ama-alert-success {
      &:before {
        background-color: green;
      }
    }

    &.ama-alert-danger {
      &:before {
        background-color: red;
      }
    }

    &.ama-alert-warning {
      &:before {
        background-color: yellow;
      }
    }

    &.ama-alert-info {
      &:before {
        background-color: cyan;
      }
    }

    &.ama-alert-dark {
      &:before {
        background-color: darkslategray;
      }
    }

    &.ama-alert-light {
      &:before {
        background-color: lightgrey;
      }
    }
  }
}
