.ama {
  &-list {
    li {
      margin-bottom: 8px;
      a,
      svg {
        text-decoration: none;
        color: unset;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        transition: 0.3s;
        &:hover {
          color: #00833e;
          fill: #00833e;
        }
      }
    }
  }
}
