@use '../../../scss/index' as index;

.ama {
  &-user-area {
    min-height: 44px;
    min-width: 44px;

    svg {
      fill: black;
    }

    .spacing {
      width: 34px;
    }

    .drop-down-container {
      .combo {
        &.user-area-options {
          height: 100%;
          .tags {
            visibility: hidden;
          }

          .combo-input {
            padding: 0 !important;
            border: 1px solid transparent;
            height: 100%;

            &:focus {
              border: 1px solid transparent;
            }
          }
        }
      }
    }
  }
}
