@use '../../../scss/index' as index;

.ama {
  &-user-area {
    min-height: 44px;
    min-width: 250px;

    svg {
      fill: index.$neutral-black;
    }

    .spacing {
      width: 34px;
    }

    .drop-down-container {
      z-index: 900;
      .combo {
        &.user-area-options {
          height: 100%;
          .tags {
            display: none !important;
          }

          .combo-input {
            padding: 0 !important;
            border: 1px solid transparent;
            height: 100%;

            &:focus {
              border: 1px solid transparent;
            }
          }
        }

        &.open {
          &.user-area-options {
            .combo-menu {
              border: 1px solid index.$brand-green-main;

              .combo-option {
                .combo-option-content {
                  display: flex;
                  a {
                    display: flex;
                    width: 100%;
                    justify-content: start;
                    color: index.$brand-green-main;

                    text-decoration: none;
                    a:link,
                    a:hover {
                      text-decoration: none;
                    }
                  }

                  .option-icon {
                    margin-right: map-get(index.$spacers, 10);
                  }

                  .option-label {
                    @include index.text-big-bold;

                    position: relative;
                    &::after {
                      content: '';
                      position: absolute;
                      bottom: -2px;
                      left: 0;
                      width: 100%;
                      border-bottom: 2px solid index.$brand-green-main;
                    }
                  }
                }
                &.checked,
                &.selected {
                  background-color: rgba(0, 103, 47, 0.5);
                  .combo-option-content {
                    a {
                      color: index.$neutral-black;
                    }

                    .option-label {
                      &::after {
                        border-bottom: 2px solid index.$neutral-black;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
