@use '../../../scss/customs.scss' as index;

.ama-pagination {
  background-color: index.$neutral-light;
  border: 1px solid index.$neutral-light-grey;

  li {
    &:not(:first-of-type) {
      border-left: 1px solid index.$neutral-light-grey;
    }

    .lines-selector {
      width: auto;
      background-color: transparent !important;
      border: none;
      box-shadow: 0 0 0 1px transparent inset !important;
      &:focus {
        box-shadow: 0 0 0 1px index.$neutral-black inset !important;
      }
    }

    &.page-item {
      .page-link {
        min-height: 56px;
        min-width: 56px;
        border-radius: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.disabled {
        .page-link {
          background-color: index.$neutral-light;
          svg {
            fill: index.$neutral-light-grey;
          }
        }
      }
    }
  }
}
