@use '../../../scss/customs.scss' as index;

.ama-pagination {
  background-color: index.$neutral-light;
  border: 1px solid index.$neutral-light-grey;
  list-style: none;

  li {
    min-height: 56px;
    min-width: 56px;

    &:not(:first-of-type) {
      border-left: 1px solid index.$neutral-light-grey;
    }

    .lines-selector {
      width: auto;
      background-color: transparent !important;
      border: none;
      box-shadow: 0 0 0 1px transparent inset !important;
      &:focus {
        box-shadow: 0 0 0 1px index.$neutral-black inset !important;
      }
    }

    button {
      min-height: 56px;
      min-width: 56px;
      border-radius: 0 !important;
      border: none;
      outline: none;
      box-shadow: 0 0 0 1px transparent inset !important;
      &:focus {
        box-shadow: 0 0 0 1px index.$neutral-black inset !important;
        outline: none;
      }

      &:disabled {
        background-color: index.$neutral-light;
        svg {
          fill: index.$neutral-light-grey;
        }
      }
    }
  }
}
