@use '../../../scss/index.scss' as index;

.ama {
  &-footer {
    h2 {
      font-family: index.$font-family-lato-bold;
      font-size: 1.5rem !important;
      margin-bottom: 24px;
      @media screen and (max-width: 991px) {
        font-size: 1.25rem !important;
        text-transform: uppercase;
      }
    }

    a {
      min-height: auto;
      min-width: auto;
      span {
        font-size: 0.875rem !important;
        font-weight: 400 !important;
      }
      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    &-section-info {
      a,
      svg {
        text-decoration: none;
        color: unset;
        &:hover,
        &:focus {
          color: index.$brand-green-main;
          fill: index.$brand-green-main;
        }
        &:focus-visible {
          outline: 1px solid index.$brand-green-fourth;
        }
        &:visited {
          color: index.$details-links-visited;
          fill: index.$details-links-visited;
          &:hover {
            color: index.$neutral-black;
            fill: index.$neutral-black;
          }
        }
      }
      &-detail {
        p {
          font-size: 0.875rem !important;
          margin-bottom: 0 !important;
          &.strong {
            font-family: index.$font-family-lato-heavy;
            font-size: 1.375rem !important;
          }
        }
        &:last-of-type {
          margin-bottom: 0px !important;
        }
      }
    }

    &-section-info-col-01,
    &-section-info-col-02,
    &-section-info-col-03 {
      padding: 30px 60px !important;
      @media screen and (max-width: 991px) {
        padding: 20px !important;
        .row {
          padding: 0px !important;
        }
      }
      .ama-list {
        a {
          font-size: 0.875rem !important;
          line-height: 2.25rem !important;
          font-weight: 400 !important;
        }
      }
    }

    &-section-info-col-01 {
      padding-left: 0 !important;
      @media screen and (max-width: 991px) {
        padding: 20px !important;
      }
      .row {
        padding: 0 15px !important;
        @media screen and (max-width: 991px) {
          padding: 0px !important;
        }
        > div {
          &:nth-child(2) {
            padding-right: 15px !important;
            @media screen and (max-width: 991px) {
              padding-right: 0px !important;
            }
          }
          &:last-child {
            padding-left: 15px !important;
            @media screen and (max-width: 991px) {
              padding-left: 0px !important;
            }
          }
        }
      }
    }

    &-section-info-col-02 {
      border-left: 1px solid index.$neutral-white;
      border-right: 1px solid index.$neutral-white;
      border-top: 0px;
      border-bottom: 0px;

      @media screen and (max-width: 991px) {
        border-left: 0px;
        border-right: 0px;
        border-top: 1px solid index.$neutral-white;
        border-bottom: 1px solid index.$neutral-white;
      }
    }

    &-section-info-col-03 {
      padding-right: 0 !important;
      @media screen and (max-width: 991px) {
        padding: 20px !important;
      }
      .ama-list {
        li {
          overflow: hidden;
          vertical-align: middle;
          a {
            min-width: 50px;
            min-height: 50px;
          }
        }
      }
    }

    &-copyright {
      font-size: 1rem !important;
      line-height: 23px !important;
      font-weight: 400 !important;
      letter-spacing: 0.14px;
    }

    &-logos {
      padding: 30px 15px !important;
      @media screen and (max-width: 991px) {
        padding: 20px 0px !important;
      }
      ul {
        grid-template-columns: repeat(3, 1fr);
      }
      img {
        height: 35px;
        width: auto;
      }
      .ama-list {
        li {
          @media screen and (max-width: 991px) {
            a {
              margin-bottom: 30px;
            }
            @include index.media-breakpoint-up(xs) {
              @include index.make-col(4);
            }
          }
        }
      }
    }
  }
}
