@use '../../../scss/index' as index;

.ama {
  &-footer {
    max-width: 1900px;
    margin: 0 auto;
    h2 {
      font-size: 1.5em !important;
      line-height: 36px !important;
      font-weight: 700 !important;
    }

    .px-60 {
      padding-left: 60px;
      padding-right: 60px;
    }

    .py-30 {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .ps-15 {
      padding-left: 15px;
    }

    .pe-15 {
      padding-right: 15px;
    }

    .mb-24 {
      margin-bottom: 24px;
    }

    .mb-36 {
      margin-bottom: 36px;
    }

    &-section-info {
      a,
      svg {
        text-decoration: none;
        color: unset;
        &:hover,
        &:focus {
          color: index.$brand-green-main;
          fill: index.$brand-green-main;
        }
        &:focus-visible {
          outline: 2px solid index.$brand-green-fourth;
        }
      }
      &-detail {
        p {
          font-size: 0.875em !important;
          line-height: 36px !important;
          font-weight: 500 !important;
          &.strong {
            font-size: 1.375em !important;
            line-height: 36px !important;
            font-weight: 700 !important;
          }
        }
        margin-bottom: 39px;
        &:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
    &-section-info-col-01,
    &-section-info-col-02 {
      .ama-list {
        a {
          font-size: 0.875em !important;
          line-height: 36px !important;
          font-weight: 500 !important;
          svg {
            margin-right: 10px;
          }
        }
      }
    }
    &-section-info-col-02,
    &-section-info-col-03 {
      padding-left: 30px;
    }

    &-copyright {
      font-size: 0.875em !important;
      line-height: 17px !important;
      font-weight: 500 !important;
      margin-bottom: 30px;
    }

    &-logos {
      padding: 20px 0px;
      ul {
        grid-template-columns: repeat(3, 1fr);
      }
      img {
        height: 35px;
        width: auto;
      }
    }
  }
}
