@use '../../../scss/index.scss' as index;

.ama {
  &-footer {
    h2 {
      font-size: 1.5rem !important;
      line-height: 36px !important;
      font-weight: 700 !important;
      margin-bottom: 24px;
      @media screen and (max-width: 991px) {
        font-size: 1.25rem !important;
        text-transform: uppercase;
      }
    }

    &-section-info {
      a,
      svg {
        text-decoration: none;
        color: unset;
        &:hover,
        &:focus {
          color: index.$brand-green-main;
          fill: index.$brand-green-main;
        }
        &:focus-visible {
          outline: 1px solid index.$brand-green-fourth;
        }
      }
      &-detail {
        p {
          font-size: 0.875rem !important;
          line-height: 36px !important;
          font-weight: 400 !important;
          &.strong {
            font-size: 1.375rem !important;
            line-height: 36px !important;
            font-weight: 700 !important;
          }
        }
        &:last-of-type {
          margin-bottom: 0px;
        }
      }
    }

    &-section-info-col-01,
    &-section-info-col-02,
    &-section-info-col-03 {
      padding: 30px 60px !important;
      @media screen and (max-width: 991px) {
        padding: 20px !important;
      }
      .ama-list {
        a {
          font-size: 0.875rem !important;
          line-height: 36px !important;
          font-weight: 400 !important;
        }
      }
    }

    &-section-info-col-01 {
      padding-left: 0 !important;
      .row {
        padding: 0 15px !important;
        > div {
          &:nth-child(2) {
            padding-right: 15px !important;
            @media screen and (max-width: 991px) {
              padding-right: 0px !important;
            }
          }
          &:last-child {
            padding-left: 15px !important;
            @media screen and (max-width: 991px) {
              padding-left: 0px !important;
            }
          }
        }
      }
    }

    &-section-info-col-03 {
      padding-right: 0 !important;
    }

    &-copyright {
      font-size: 1rem !important;
      line-height: 23px !important;
      font-weight: 400 !important;
      letter-spacing: 0.14px;
    }

    &-logos {
      padding: 30px 60px !important;
      @media screen and (max-width: 991px) {
        padding: 20px !important;
      }
      ul {
        grid-template-columns: repeat(3, 1fr);
      }
      img {
        height: 35px;
        width: auto;
      }
      .ama-list {
        li {
          @media screen and (max-width: 991px) {
            @include index.media-breakpoint-up(xs) {
              @include index.make-col(4);
            }
          }
        }
      }
    }
  }
}
