@use '../../../scss/index.scss' as index;

.ama-accordion {
  .accordion-button {
    @include index.text-big-normal;
    &:focus {
      border: 0;
    }
    &:focus-visible {
      outline: 2px solid index.$neutral-light-grey;
    }
  }
  .accordion-body {
    padding-top: 0;
    hr {
      color: index.$neutral-light-grey;
      margin: 0 0 1rem 0;
    }
  }
}
