@import '../../../scss/index.scss';

.ama-accordion {
  .accordion-button {
    &:focus {
      border: 0;
    }
    &:focus-visible {
      outline: 2px solid $neutral-light-grey;
    }
  }
  .accordion-body {
    padding-top: 0;
    hr {
      color: $neutral-light-grey;
      margin: 0 0 1rem 0;
    }
  }
}
