@use '../../../scss/customs.scss' as index;

.ama-date-picker {
  &.form-control {
    border: none;
    box-shadow: 0 0 0 1px index.$neutral-black inset;
    &:focus {
      border: none;
      box-shadow: 0 0 0 2px index.$neutral-black inset;
    }
  }
}
