@use '../../../scss/index.scss' as index;

.ama-date-picker {
  .ama-date-picker-input {
    .input-container {
      border: 1px solid index.$neutral-dark;

      @include index.text-medium-normal;
      color: index.$neutral-dark;

      input {
        &:focus {
          outline: none;
        }
      }
    }
  }

  .ama-date-picker-dialog {
    @include index.shadow;

    cursor: default;

    max-width: 324px;

    @media (min-width: map-get(index.$grid-breakpoints,md)) {
      & {
        max-width: 340px;
      }
    }

    .header {
      min-height: 44px;

      .header-action {
        min-width: 44px;
        min-height: 44px;
        button {
          min-width: 44px;
          min-height: 44px;
          border: none;
          background-color: transparent;

          svg {
            fill: index.$neutral-dark-grey;
          }
        }
      }
    }

    .calendar {
      table,
      caption,
      tbody,
      tfoot,
      thead,
      tr,
      th,
      td {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      .week-day-container {
        height: 44px;
        width: 44px;
        .week-day {
          @include index.text-big-bold;
          color: index.$neutral-black;
          height: 44px;
          width: 44px;
        }
      }

      .day-container {
        height: 44px;
        width: 44px;
        .day {
          @include index.text-big-bold;
          color: index.$neutral-black;
          height: 44px;
          width: 44px;
          // not selected and not disabled
          .label {
            background-color: transparent;
            z-index: 1;
          }
          .marker {
            z-index: 0;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: transparent;

            &:hover {
              background-color: index.$brand-green-main;
              opacity: 0.4;
            }
          }

          // selected
          &.selected {
            .label {
              color: index.$neutral-white;
              z-index: 1;
            }
            .marker {
              z-index: 0;
              width: 28px;
              height: 28px;
              border-radius: 50%;
              background-color: index.$brand-green-main;
            }
          }

          &.disabled {
            .label {
              color: index.$neutral-dark-grey;
              z-index: 1;
            }
            .marker {
              z-index: 0;
              width: 28px;
              height: 28px;
              border-radius: 50%;
              background-color: transparent;
            }
          }
        }

        &:hover {
          .day {
            .label {
              color: index.$neutral-black;
            }
            .marker {
              background-color: index.$brand-green-main;
              opacity: 0.4;
            }

            &.selected {
              .label {
                color: index.$neutral-black;
              }
              .marker {
                background-color: index.$brand-green-main;
              }
            }

            &.disabled {
              .label {
                color: index.$neutral-dark-grey;
              }
              .marker {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
