@use '../../../scss/customs.scss' as index;

.ama {
  &-error-page {
    h1 {
      @include index.h3-normal;
    }

    span {
      @include index.text-big-normal;
    }

    .link {
      @include index.text-big-normal;
    }

    .icon {
      fill: index.$semantic-alerts;
    }

    .error-actions-container {
      .error-action {
        margin-right: map-get(index.$spacers, 16);

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
