@use '../../../scss/customs.scss' as index;

//Check if color white keep white, if not goes black
@function check-coloring($color) {
  @return if($color == index.$neutral-white, index.$neutral-white, index.$neutral-black);
}

// We can color links with all colors defined on theme-colors by adding to classname ama-link-'name-of-color' (ex: ama-link-brand-green-main)
@each $color, $value in index.$theme-colors {
  .ama-link-#{$color} {
    @include index.link-variant(
      $color: $value,
      $text-underline-offset: map-get(index.$spacers, 8),
      $hover-color: check-coloring($value),
      $visited-color: index.$details-links-visited,
      $visited-hover-color: $value,
      $disabled-color: $value,
      $disabled-opacity: 0.4
    );
  }
}
