@use '../../../scss/customs.scss' as index;

.custom-dropdown {
  .custom-dropdown-menu {
    overflow-y: auto;
    overflow-x: hidden;

    max-height: 228px;
    border: 2px solid index.$brand-green-main;
    background-color: index.$white;

    .custom-dropdown-option {
      display: flex;

      span {
        color: index.$brand-green-main;
        text-decoration: underline;
        font-weight: map-get(index.$font-weights, 900);
        white-space: nowrap;
      }

      &.selected {
        &.checked {
          &:after {
            content: '\2714';
          }
        }
      }

      &.hover,
      &:hover {
        background-color: index.$brand-green-hover;
      }
    }
  }
}
