@use '../../../scss/customs.scss' as index;

.ama-header {
  .ama-burger-button {
    background-color: transparent;
    border: none;
    min-height: 48px;
    min-width: 48px;
  }

  .language-selector-container {
    min-width: 80px;
  }

  .user-area-container {
    min-width: 200px;
  }
}

.ama-header-offcanvas {
  .offcanvas-header {
    .ama-close-offcanvas-button {
      background-color: transparent;
      border: none;
      min-height: 48px;
      min-width: 48px;
    }
  }

  .offcanvas-body {
    .lang-user-container {
      border-top: 1px solid index.$neutral-light-grey;

      .mobile-language-selector {
        min-width: 120px;
        border-right: 1px solid index.$neutral-light-grey;
      }
    }
  }
}
