@use '../../../scss/index.scss' as index;

.ama {
  &-header {
    .combo {
      &.language-selector {
        .combo-input {
          .tags {
            @include index.h5-bold;
            font-size: map-get(index.$font-sizes, 14);
            line-height: map-get(index.$line-heights, 24);
          }

          border: 1px solid transparent;

          &:focus {
            border: 1px solid transparent;
          }
        }

        .combo-menu {
          .combo-option-content {
            @include index.h5-bold;
            font-size: map-get(index.$font-sizes, 14);
            line-height: map-get(index.$line-heights, 24);
          }
        }
      }

      &.open {
        &.language-selector {
          .combo-menu {
            top: 12px;
            padding: 0 !important;
            border: 1px solid index.$brand-green-main;
            background-color: index.$neutral-white;

            .combo-option {
              .marker {
                visibility: hidden;
              }

              &.checked {
                background-color: index.$neutral-white;

                .marker {
                  visibility: visible;
                }

                &.selected {
                  background-color: rgba(0, 103, 47, 0.5);
                }
              }

              &.selected {
                background-color: rgba(0, 103, 47, 0.5);
              }
            }
          }
        }
      }
    }

    .ama-burger-button {
      min-width: 44px;
      min-height: 44px;
      border: none;
      background-color: transparent;
    }

    &-offcanvas {
      .offcanvas-header {
        padding: 0 map-get(index.$spacers, 16);
        background-color: index.$neutral-dark;

        .ama-close-offcanvas-button {
          background-color: transparent;
          border: 0;
          padding: 0;
          svg {
            fill: index.$neutral-white;
          }
        }
        .offcanvas-language-selector {
          min-width: 90px;
          &.combo {
            .combo-input {
              min-height: 48px;
              border: none;

              &:focus {
                border: none;
              }

              svg {
                fill: index.$neutral-white;
              }

              .tags {
                @include index.h5-bold;
                font-size: map-get(index.$font-sizes, 14);
                line-height: map-get(index.$line-heights, 24);
                color: index.$neutral-white;
              }
            }

            .combo-menu {
              .combo-option {

                .combo-option-content{
                  .marker {
                    visibility: hidden;
                  }

                }

                &.checked {
                  background-color: index.$neutral-light-grey;
                  .combo-option-content{
                    .marker {
                      visibility: visible;
                    }
  
                  }
                }

                &.selected {
                  background-color: index.$neutral-light-grey;
                }

                .combo-option-content {
                  @include index.h5-bold;
                  font-size: map-get(index.$font-sizes, 14);
                  line-height: map-get(index.$line-heights, 24);
                }
              }
            }
          }
        }
      }

      .offcanvas-body {
        ul {
          list-style: none;

          .nav-link {
            @include index.text-big-normal;
            color: index.$neutral-black;

            &.active {
              .nav-link-label {
                position: relative;
                &:after {
                  content: '';
                  width: 100%;
                  border-bottom: 2px solid index.$neutral-black;
                  position: absolute;
                  left: 0;
                  top: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}
