$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1600px
);

$container-max-widths: (
  xs: 575px,
  sm: 767px,
  md: 991px,
  lg: 1279px,
  xl: 1599px,
  xxl: 1600px
);
