//Override headers and elements with fonts and sizes

p,
a,
li,
span,
em,
input,
select,
i,
optgroup,
option,
textarea,
div,
label,
button {
  @include text-big-normal;
  &.strong {
    @include text-big-bold;
  }
}

h1 {
  @include h1-normal;
  &.strong {
    @include h1-bold;
  }
}

h2 {
  @include h2-normal;
  &.strong {
    @include h2-bold;
  }
}

h3 {
  @include h3-normal;
  &.strong {
    @include h3-bold;
  }
}

h4 {
  @include h4-normal;
  &.strong {
    @include h4-bold;
  }
}

.h1-normal {
  @include h1-normal;
}
.h1-bold {
  @include h1-bold;
}

.h2-normal {
  @include h2-normal;
}
.h2-bold {
  @include h2-bold;
}

.h3-normal {
  @include h3-normal;
}
.h3-bold {
  @include h3-bold;
}

.h4-normal {
  @include h4-normal;
}
.h4-bold {
  @include h4-bold;
}

.text-big-normal {
  @include text-big-normal;
}
.text-big-bold {
  @include text-big-bold;
}

.text-medium-normal {
  @include text-medium-normal;
}
.text-medium-bold {
  @include text-medium-bold;
}

.text-small-normal {
  @include text-small-normal;
}
.text-small-bold {
  @include text-small-bold;
}

//Override of margin-bottom original
p {
  margin-bottom: 8px;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

// Accessibility says min height/width 44px for clickable areas
a {
  display: inline-flex;
  min-width: 44px;
  min-height: 44px;
  align-items: center;
  font-weight: map-get($font-weights, 900);
}
