@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

//Fonts
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  12: 0.75rem,
  14: 0.875rem,
  16: 1rem,
  20: 1.25rem,
  28: 1.75rem,
  32: 2rem,
  40: 2.5rem,
  64: 4rem
);

//Line-heights
$line-heights: (
  1: 1,
  sm: $line-height-sm,
  base: $line-height-base,
  lg: $line-height-lg,
  16: 16px,
  24: 24px,
  28: 28px,
  32: 32px,
  40: 40px,
  52: 52px,
  72: 72px
);

//Font-weight

$font-weights: (
  light: $font-weight-light,
  lighter: $font-weight-lighter,
  normal: $font-weight-normal,
  bold: $font-weight-bold,
  bolder: $font-weight-bolder,
  400: 400,
  600: 600,
  700: 700,
  800: 800
);
