@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf) {
  $src: null;

  $extmods: (
    eot: '?'
  );

  $formats: (
    otf: 'opentype',
    ttf: 'truetype'
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

//Font Family
$font-family-lato: 'Lato', sans-serif;

//Fonts
$font-sizes: (
  0: 0,
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  12: 0.75rem,
  14: 0.875rem,
  16: 1rem,
  20: 1.25rem,
  24: 1.5rem,
  30: 1.875rem,
  36: 2.25rem,
  160: 10rem
);

//Line-heights
$line-heights: (
  0: 0,
  1: 0.063rem,
  sm: $line-height-sm,
  base: $line-height-base,
  lg: $line-height-lg,
  16: 1rem,
  24: 1.5rem,
  28: 1.75rem,
  32: 2rem,
  36: 2.25rem,
  40: 2.5rem,
  280: 17.5rem
);

//Font-weight

$font-weights: (
  light: $font-weight-light,
  lighter: $font-weight-lighter,
  normal: $font-weight-normal,
  bold: $font-weight-bold,
  bolder: $font-weight-bolder,
  400: 400,
  500: 500,
  600: 600,
  800: 800,
  900: 900
);

// Typings / TextStyles
@mixin h1-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 36);
  line-height: map-get($line-heights, 40);
}
@mixin h1-bold {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 900);
  font-size: map-get($font-sizes, 36);
  line-height: map-get($line-heights, 40);
}

@mixin h2-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 30);
  line-height: map-get($line-heights, 40);

  @media screen and (max-width: 991px) {
    @include h3-normal();
  }
}
@mixin h2-bold {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 900);
  font-size: map-get($font-sizes, 30);
  line-height: map-get($line-heights, 40);

  @media screen and (max-width: 991px) {
    @include h3-bold();
  }
}

@mixin h3-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 24);
  line-height: map-get($line-heights, 32);
}
@mixin h3-bold {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 900);
  font-size: map-get($font-sizes, 24);
  line-height: map-get($line-heights, 32);
}

@mixin h4-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 20);
  line-height: map-get($line-heights, 32);
}
@mixin h4-bold {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 900);
  font-size: map-get($font-sizes, 20);
  line-height: map-get($line-heights, 32);
}

@mixin text-big-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 16);
  line-height: map-get($line-heights, 28);
}
@mixin text-big-bold {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 900);
  font-size: map-get($font-sizes, 16);
  line-height: map-get($line-heights, 28);
}

@mixin text-medium-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 14);
  line-height: map-get($line-heights, 24);
}
@mixin text-medium-bold {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 900);
  font-size: map-get($font-sizes, 14);
  line-height: map-get($line-heights, 24);
}

@mixin text-small-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 12);
  line-height: map-get($line-heights, 16);
}
@mixin text-small-bold {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 900);
  font-size: map-get($font-sizes, 12);
  line-height: map-get($line-heights, 16);
}
