//Mixins
@mixin shadow {
  box-shadow: 0px 2px 4px 0px #00000014;
}

// Only works for webkit based browsers
// Firefox only support custom background and foreground
@mixin scrollbars {
  $size: 4px;
  $foreground-color: #707070;
  $background-color: #fff;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }
  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $foreground-color $background-color;
}

//Card background
@mixin bg-cards($color, $background, $fill, $link-color, $link-hover, $link-focus-border) {
  color: $color;
  background-color: $background;
  svg > * {
    fill: $fill;
  }
  a {
    color: $link-color;
    &:hover {
      color: $link-hover;
      text-decoration: none;
    }
    &:focus {
      border: $link-focus-border;
    }
  }
}

// Typings / TextStyles
@mixin h1-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 600);
  font-size: map-get($font-sizes, 64);
  line-height: map-get($line-heights, 72);
}

@mixin h1-bold {
  font-family: $font-family-lato-bold;
  font-style: normal;
  font-weight: map-get($font-weights, 800);
  font-size: map-get($font-sizes, 64);
  line-height: map-get($line-heights, 72);
}

@mixin h2-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 600);
  font-size: map-get($font-sizes, 40);
  line-height: map-get($line-heights, 52);
}

@mixin h2-bold {
  font-family: $font-family-lato-bold;
  font-style: normal;
  font-weight: map-get($font-weights, 800);
  font-size: map-get($font-sizes, 40);
  line-height: map-get($line-heights, 52);
}

@mixin h3-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 600);
  font-size: map-get($font-sizes, 32);
  line-height: map-get($line-heights, 40);
}

@mixin h3-bold {
  font-family: $font-family-lato-bold;
  font-style: normal;
  font-weight: map-get($font-weights, 800);
  font-size: map-get($font-sizes, 32);
  line-height: map-get($line-heights, 40);
}

@mixin h4-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 600);
  font-size: map-get($font-sizes, 28);
  line-height: map-get($line-heights, 40);
}

@mixin h4-bold {
  font-family: $font-family-lato-bold;
  font-style: normal;
  font-weight: map-get($font-weights, 800);
  font-size: map-get($font-sizes, 28);
  line-height: map-get($line-heights, 40);
}

@mixin h5-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 20);
  line-height: map-get($line-heights, 32);
}

@mixin h5-bold {
  font-family: $font-family-lato-bold;
  font-style: normal;
  font-weight: map-get($font-weights, 800);
  font-size: map-get($font-sizes, 20);
  line-height: map-get($line-heights, 32);
}

@mixin text-big-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 16);
  line-height: map-get($line-heights, 28);
}

@mixin text-big-bold {
  font-family: $font-family-lato-bold;
  font-style: normal;
  font-weight: map-get($font-weights, 700);
  font-size: map-get($font-sizes, 16);
  line-height: map-get($line-heights, 28);
}

@mixin text-medium-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 14);
  line-height: map-get($line-heights, 24);
}

@mixin text-medium-bold {
  font-family: $font-family-lato-bold;
  font-style: normal;
  font-weight: map-get($font-weights, 700);
  font-size: map-get($font-sizes, 14);
  line-height: map-get($line-heights, 24);
}

@mixin text-small-normal {
  font-family: $font-family-lato;
  font-style: normal;
  font-weight: map-get($font-weights, 400);
  font-size: map-get($font-sizes, 12);
  line-height: map-get($line-heights, 16);
}

@mixin text-small-bold {
  font-family: $font-family-lato-bold;
  font-style: normal;
  font-weight: map-get($font-weights, 700);
  font-size: map-get($font-sizes, 12);
  line-height: map-get($line-heights, 16);
}
