//Override grid gutter
$grid-gutter-width: 0;

//Override buttons variables
$btn-border-radius: 0px;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;
$btn-disabled-opacity: 0.4;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-box-shadow: none;
$input-btn-focus-box-shadow: none;
$enable-shadows: false;

$btn-padding-x: 0.938rem;
$btn-padding-x-sm: $btn-padding-x;
$btn-padding-x-lg: $btn-padding-x;
$btn-padding-y: 0.813rem;
$btn-padding-y-sm: 0.563rem;
$btn-padding-y-lg: $btn-padding-y;

$btn-font-size: 1rem;
$btn-line-height: 1.75rem;
$btn-font-weight: $font-weight-bold;
$btn-font-family: $font-family-lato-regular;
$btn-font-size-sm: $btn-font-size;
$btn-font-size-lg: $btn-font-size;

$btn-link-color: $brand-green-main;
$btn-link-hover-color: $neutral-black;
$btn-link-disabled-color: $brand-green-main;

//Tabs
$nav-tabs-border-color: $neutral-light-grey;
$nav-tabs-border-width: 1px;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: $neutral-black;
$nav-tabs-link-active-color: $neutral-black;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-border-color: $neutral-light-grey;

//Accordion
$accordion-padding-y: 1rem;
$accordion-padding-x: 2rem;
$accordion-color: $neutral-black;
$accordion-bg: $neutral-light;
$accordion-border-width: $border-width;
$accordion-border-color: $neutral-light;
$accordion-border-radius: $border-radius;
$accordion-inner-border-radius: subtract($accordion-border-radius, $accordion-border-width);

$accordion-body-padding-y: $accordion-padding-y;
$accordion-body-padding-x: $accordion-padding-x;

$accordion-button-padding-y: 1.125rem;
$accordion-button-padding-x: $accordion-padding-x;
$accordion-button-color: $accordion-color;
$accordion-button-bg: $accordion-bg;
$accordion-transition: $btn-transition, border-radius 0.15s ease;
$accordion-button-active-bg: $accordion-bg;
$accordion-button-active-color: $accordion-color;

$accordion-button-focus-border-color: $neutral-light-grey;
$accordion-button-focus-box-shadow: $btn-focus-box-shadow;

$accordion-icon-width: 1.25rem;
$accordion-icon-color: $accordion-button-color;
$accordion-icon-active-color: $accordion-button-active-color;
$accordion-icon-transition: transform 0.2s ease-in-out;
$accordion-icon-transform: rotate(-180deg);

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

//Table
$table-bg: $neutral-light;
$table-striped-bg: $neutral-white;
$table-hover-bg: $neutral-light-grey;
$table-color: $neutral-dark;
$table-cell-padding-y: 1rem;
$table-cell-padding-x: 0.5rem;
$table-cell-padding-y-sm: 1rem;
$table-cell-padding-x-sm: 0.5rem;

//Pagination
$pagination-bg: $neutral-light;
$pagination-border-width: 1px;
$pagination-border-color: $neutral-light-grey;
$pagination-focus-color: $neutral-light-grey;
$pagination-focus-bg: $neutral-light-grey;
$pagination-focus-box-shadow: none;
$pagination-focus-outline: 0;
$pagination-hover-color: $neutral-dark;
$pagination-hover-bg: $neutral-light-grey;
$pagination-hover-border-color: $neutral-light-grey;
