@use '../../../scss/index.scss' as index;
.card {
  &.ama-card {
    &-light {
      @include index.bg-cards(
        index.$neutral-black,
        index.$neutral-light,
        index.$neutral-black,
        index.$brand-green-main,
        index.$neutral-black,
        '1px solid ' + index.$brand-yellow-fourth,
        0
      );

      .ama-card-content {
        &.card-info {
          color: index.$neutral-dark;
          svg > * {
            fill: index.$neutral-dark;
          }
        }
        &.card-success {
          color: index.$brand-green-main;
          svg > * {
            fill: index.$brand-green-main;
          }
        }
        &.card-alert {
          color: index.$semantic-alerts;
          svg > * {
            fill: index.$semantic-alerts;
          }
        }
      }
    }
  }
}
