@use '../../../scss/customs.scss' as index;

.ama-input-tag {
  min-height: 56px;
  min-width: 56px;

  border: none;
  box-shadow: 0 0 0 1px index.$neutral-black inset;

  &.focus {
    box-shadow: 0 0 0 2px index.$neutral-black inset;
  }

  .input-container {
    .tag {
      white-space: pre;
      height: 44px;
      border-radius: 22px;

      background-color: index.$neutral-light;

      border: none;
      box-shadow: 0 0 0 1px transparent inset;

      &:hover,
      &:focus {
        outline: none;
        box-shadow: 0 0 0 1px index.$neutral-light-grey inset;
      }

      .tag-name {
        @include index.text-medium-normal;
        color: index.$neutral-black;
      }
    }

    input {
      @include index.text-medium-normal;
      color: index.$neutral-black;

      border: none;
      background-color: index.$neutral-white;

      &::placeholder {
        color: index.$neutral-dark-grey;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .autocomplete-container {
    ul {
      @include index.shadow;
      @include index.scrollbars;
      list-style: none;

      background-color: index.$neutral-white;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 272px;

      li {
        @include index.text-medium-normal;
        color: index.$neutral-black;

        min-height: 40px;

        margin-bottom: 10px;
        &:last-of-type {
          margin-bottom: 0px;
        }

        &.focus {
          background-color: index.$neutral-light;
        }

        &:hover {
          background-color: index.$neutral-light;
        }
      }
    }
  }
}
