@use '../../../scss/index.scss' as index;

.ama {
  &-horizontal-menu {
    ul {
      list-style: none;
      li {
        &:last-of-type {
          margin: 0;
        }

        .navbar-brand {
          &:hover,
          &.active {
            svg {
              fill: index.$brand-green-main;
            }
          }
        }

        .nav-link {
          text-decoration: none;

          &:active,
          &:visited {
            color: index.$neutral-black !important;
          }

          .label {
            @include index.h5-bold;
            position: relative;

            &:hover {
              &:after {
                content: '';
                width: 100%;
                border-bottom: 2px solid index.$brand-green-main;
                position: absolute;
                left: 0;
                top: 30px;
              }
            }
          }

          &.active {
            .label {
              color: index.$brand-green-main;
              &:after {
                content: '';
                width: 100%;
                border-bottom: 2px solid index.$brand-green-main;
                position: absolute;
                left: 0;
                top: 30px;
              }
            }
          }
        }
      }
    }
  }
}
