@use '../../../scss/customs.scss' as index;

.ama {
  &-scroll-top {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 62px;
    background-color: index.$neutral-white;
    border: 1px solid index.$brand-green-main;

    .text {
      color: index.$brand-green-main;
      text-decoration: underline;
      text-decoration-color: index.$brand-green-main;
      text-underline-offset: 8px;
    }

    .icon {
      fill: index.$brand-green-main;
    }
  }
}
