@use '../../../scss/index.scss' as index;

.ama {
  &-scroll-top {
    position: fixed;
    bottom: 1px;
    width: 100%;
    padding: 1px;
    height: 2rem;
    z-index: 99999;
    background-color: index.$neutral-white;

    Button {
      width: 100%;
      display: block;
      padding: 1px;
    }

    .icon {
      position: relative;
      margin-left: 237px;
    }

    .text {
      margin-left: 4px;
      text-decoration: underline;
    }
  }
}
