@use '../../../scss/index.scss' as index;

.ama-tabs {
  &.nav {
    overflow-y: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    display: -moz-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &.nav-tabs {
      border-bottom: none;
    }
    .nav-link {
      color: index.$neutral-dark;
      border-bottom: 1px solid index.$neutral-light-grey;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
      margin: 0;
      &:hover,
      &:focus {
        @include index.text-big-bold;
        color: index.$neutral-black;
        border-color: transparent;
        border-bottom: 1px solid index.$neutral-black;
      }

      &.disabled {
        color: index.$neutral-light-grey;
        border-bottom: 1px solid index.$neutral-light-grey;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      @include index.text-big-bold;
      color: index.$brand-green-main;
      background-color: transparent;
      border-bottom: 1px solid index.$brand-green-main;
      border-top: transparent;
      border-left: transparent;
      border-right: transparent;
    }
  }
}
